* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: rgb(19, 9, 112);
    text-decoration: none;
    font-family: "Agbalumo", system-ui;
    padding: 0.5em;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.5em;
}

a:hover {
    text-decoration:underline;
    background-color: #ff9faf;
    color: rgb(255, 255, 255);
    
}

img {
    border-radius: 1em;
    max-width: 100%;
    display: block;
}

.agbalumo-regular,
h1, h2,
header {
    font-family: "Agbalumo", system-ui;
}

h3, p, li {
    font-family: 'Raleway', sans-serif;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 5em;
    background-color: rgb(241, 97, 133);
    color: white;
    justify-content: space-around;
}

footer {
    height: 100px;
}

header ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

header .logo_container img {
    width: 120px;
}

.hero {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 194, 194);
    font-size: 2rem;
}

.recetas {
    padding: 40px 20px;
    background: url("https://img.freepik.com/premium-vector/seamless-polka-dot-pattern-vector-repeating-texture-polka-dot-with-color-pastel-background-pink-polka-dot-pattern-pink-polka-wrapping-texture-vector-illustration_561158-1507.jpg?w=360");
    background-repeat: repeat;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.recetas_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.receta {
    background-color: #ff9a9a;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(233, 54, 164, 0.2);
}

.receta:hover {
    transform: translateY(-7px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.receta img {
    border-radius: 10px;
    margin-bottom: 0.5em;
}

.receta h3 {
    margin-top: 0.5em;
}

.receta a {
    display: inline-block;
    margin-top: 1em;
    padding: 0.6em 1.5em;
    border-radius: 2em;
    background-color: white;
    color: #5d163c;
    border: 2px solid #5d163c;
    transition: background-color 0.3s, color 0.3s;
}

.receta a:hover {
    background-color: #5d163c;
    color: white;
}

@media screen and (max-width: 768px) {
    header, footer {
        flex-direction: column;
        text-align: center;
        gap: 1em;
    }

    .receta-detalle {
        margin: 2em 1em;
    }
}
